<div class="page-header">
  <h1>Listing roles <small><%= link_to 'New Role', new_admin_role_path %></small></h1>
</div>

<%

def display_roles_tree roles
  %>
  <ul>
    <%
    roles.each do |role|
      %>
      <li>
        <%= link_to role.name, edit_admin_role_path(role) %>
         - 
        <%= link_to 'Destroy', [:admin, role], confirm: 'Are you sure?', method: :delete %>
        <%
        if role.children.count > 0
          display_roles_tree role.children
        end
        %>
      </li>
      <%
    end
    %>
  </ul>
  <%
end

%>

<% display_roles_tree @roles %>

<br />
